#main{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#form{
    margin-top: 15%;
}
.example-button-row {
    display: flex;
    justify-content: space-between; /* Align items to the end (right) of the container */
  }
  
// .example-button-row button {
//     margin-left: 10px; /* Add some space between the buttons */
// }

.fields{
    width: 400px;
}
.submit{
    width: 180px;
}
