<!-- <div *ngIf="formSubmitted"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0V0z"/>
      <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
    </svg>
    <span>Success!</span>

    <h3 style="text-align: center;">Result</h3>

    <div class="result">
        <!-- <h4>Question Attended : {{data.res.questionAttended}}</h4> -->
        <h4>Correct Answers : {{data.res.correctAnswers}}</h4>
        <h4>Marks Secured : {{data.res.securedMark}}</h4>
    </div>


  <!-- </div> -->